<a href="https://colab.research.google.com/github/tonpiplaifa/data_viz/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/Data_viz'

In [ ]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path) #ดีที่ os รันที่ไหนเชื่อมแบบนั้นให้ทันที

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

In [ ]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

###Load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid = pd.read_csv(covid_file_path,encoding='utf-8') #encoding='utf-8' เซฟเป็นมาตรฐานที่กำหนด
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

###ชี้ไปที่ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

####.iloc

In [ ]:
data_covid.iloc[4,7] #แถว หลัก

'กรุงเทพมหานคร'

###Table slicing

####ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] #เรียกดูหลายคอลัม โดยการสร้างลิสต์ที่จะเรียกออกมา
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

####ตัดเฉพาะ row ที่ต้องการ

**แบบง่าย**

In [ ]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

**แบบยาก** (ตัดแบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] ซึ่ง x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (`True/False`))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] #ไม่ใส่ชื่อคอลัมเลยตัดแถว ถ้าใส่ก็จัดที่คอลัม

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร' #หาว่าอยู่ในแถวไหนบ้าง

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร']

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

#HW6

**1.   คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด**

In [58]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [94]:
N = data_covid.shape[0] #จำนวนทั้งหมด ข้อมูลวันที่ 18/1/2021
N

12423

In [150]:
#ผู้หญิงทั้งหมด
Female_all = data_covid[data_covid['sex']=='หญิง']
F_age = Female_all.iloc[:,4].dropna()
F_age

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 4289, dtype: float64

In [149]:
sum = 0
for i in F_age:
    sum = float(sum + i)
    F_avg = sum/len(F_age)

In [148]:
#ผู้ชายทั้งหมด
Male_all = data_covid[data_covid['sex']=='ชาย']
M_age = Male_all.iloc[:,4].dropna()
M_age

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12414    32.0
12415    38.0
12420    10.0
12421    52.0
12422    51.0
Name: age, Length: 4366, dtype: float64

In [147]:
sum = 0
for i in M_age:
    sum = float(sum + i)
    M_avg = sum/len(M_age)

In [146]:
print(f'สรุป','\n',f'ค่าเฉลี่ยอายุของผู้หญิงจากข้อมูลทั้งหมดคือ {F_avg} คน','\n',f'ค่าเฉลี่ยอายุของผู้ชายจากข้อมูลทั้งหมดคือ {M_avg} คน')

สรุป
 ค่าเฉลี่ยอายุของผู้หญิงจากข้อมูลทั้งหมดคือ 36.70788295640009 คน
 ค่าเฉลี่ยอายุของผู้ชายจากข้อมูลทั้งหมดคือ 39.55682775996335 คน

**2.   คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของจังหวัดขอนแก่น**

In [109]:
#ชายขอนแก่น
KK_data = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
Male_KK = KK_data[KK_data['sex']=='ชาย']
M_KK_age = Male_KK.iloc[:,4].dropna()
M_KK_age

180      33.0
1466     19.0
2673     68.0
9333     17.0
9334     20.0
10610    17.0
11517    12.0
Name: age, dtype: float64

In [143]:
sum = 0
for i in M_KK_age:
    sum = float(sum + i)
    M_KK_age_avg = sum/len(M_KK_age)

In [141]:
#หญิงขอนแก่น
Female_KK = KK_data[KK_data['sex']=='หญิง']
F_KK_age = Female_KK.iloc[:,4].dropna()
F_KK_age

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64

In [145]:
sum = 0
for i in F_KK_age:
    sum = float(sum + i)
    F_KK_age_avg = sum/len(F_KK_age)

In [139]:
print(f'สรุป','\n',f'ค่าเฉลี่ยอายุของผู้หญิงของจังหวัดขอนแก่นคือ {F_KK_age_avg} คน','\n',f'ค่าเฉลี่ยอายุของผู้ชายของจังหวัดขอนแก่นคือ {M_KK_age_avg} คน')

สรุป
 ค่าเฉลี่ยอายุของผู้หญิงของจังหวัดขอนแก่นคือ 41.57142857142857 คน
 ค่าเฉลี่ยอายุของผู้ชายของจังหวัดขอนแก่นคือ 26.571428571428573 คน

In [144]:
M_KK_age.mean() #เชค

26.571428571428573

In [118]:
F_KK_age.mean() #เชค

41.57142857142857

**3. หาจำนวนผู้ป่วยที่เป็นคน 'คนต่างชาติเดินทางมาจากต่างประเทศ'**

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0] #หาว่ากี่แถว

155