<a href="https://colab.research.google.com/github/tonpiplaifa/data_viz/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

In [5]:
path = '/content/drive/My Drive/Data_viz'

In [6]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path) #ดีที่ os รันที่ไหนเชื่อมแบบนั้นให้ทันที

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

In [7]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/Data_viz/pm-18-jan-2021.csv

###Load data to memory

In [8]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [9]:
data_covid = pd.read_csv(covid_file_path,encoding='utf-8') #encoding='utf-8' เซฟเป็นมาตรฐานที่กำหนด
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [10]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [11]:
data_covid.shape

(12423, 10)

###ชี้ไปที่ค่าในตาราง

In [12]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [13]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

####.iloc

In [14]:
data_covid.iloc[4,7] #แถว หลัก

'กรุงเทพมหานคร'

###Table slicing

####ตัดมาเฉพาะ column ที่ต้องการ

In [15]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] #เรียกดูหลายคอลัม โดยการสร้างลิสต์ที่จะเรียกออกมา
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

####ตัดเฉพาะ row ที่ต้องการ

**แบบง่าย**

In [16]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

**แบบยาก** (ตัดแบบใช้ logic query)

In [17]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] ซึ่ง x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการ (ใส่ list ที่มี *ขนาดเท่ากับจำนวนแถว* แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (`True/False`))

In [18]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [19]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] #ไม่ใส่ชื่อคอลัมเลยตัดแถว ถ้าใส่ก็จัดที่คอลัม

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [20]:
eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร' #หาว่าอยู่ในแถวไหนบ้าง

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [21]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร']

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

#HW6

**1.   คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด**

In [22]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [23]:
N = data_covid.shape[0] #จำนวนทั้งหมด ข้อมูลวันที่ 18/1/2021
N

12423

In [24]:
#ผู้หญิงทั้งหมด
Female_all = data_covid[data_covid['sex']=='หญิง']
F_age = Female_all.iloc[:,4].dropna()
F_age

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 4289, dtype: float64

In [25]:
sum = 0
for i in F_age:
    sum = float(sum + i)
    F_avg = sum/len(F_age)

In [26]:
#ผู้ชายทั้งหมด
Male_all = data_covid[data_covid['sex']=='ชาย']
M_age = Male_all.iloc[:,4].dropna()
M_age

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12414    32.0
12415    38.0
12420    10.0
12421    52.0
12422    51.0
Name: age, Length: 4366, dtype: float64

In [27]:
sum = 0
for i in M_age:
    sum = float(sum + i)
    M_avg = sum/len(M_age)

In [28]:
print(f'สรุป','\n',f'ค่าเฉลี่ยอายุของผู้หญิงจากข้อมูลทั้งหมดคือ {F_avg} ปี','\n',f'ค่าเฉลี่ยอายุของผู้ชายจากข้อมูลทั้งหมดคือ {M_avg} ปี')

สรุป
 ค่าเฉลี่ยอายุของผู้หญิงจากข้อมูลทั้งหมดคือ 36.70788295640009 ปี
 ค่าเฉลี่ยอายุของผู้ชายจากข้อมูลทั้งหมดคือ 39.55682775996335 ปี

**2.   คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของจังหวัดขอนแก่น**

In [29]:
#ชายขอนแก่น
KK_data = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
Male_KK = KK_data[KK_data['sex']=='ชาย']
M_KK_age = Male_KK.iloc[:,4].dropna()
M_KK_age

180      33.0
1466     19.0
2673     68.0
9333     17.0
9334     20.0
10610    17.0
11517    12.0
Name: age, dtype: float64

In [30]:
sum = 0
for i in M_KK_age:
    sum = float(sum + i)
    M_KK_age_avg = sum/len(M_KK_age)

In [31]:
#หญิงขอนแก่น
Female_KK = KK_data[KK_data['sex']=='หญิง']
F_KK_age = Female_KK.iloc[:,4].dropna()
F_KK_age

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64

In [32]:
sum = 0
for i in F_KK_age:
    sum = float(sum + i)
    F_KK_age_avg = sum/len(F_KK_age)

In [33]:
print(f'สรุป','\n',f'ค่าเฉลี่ยอายุของผู้หญิงของจังหวัดขอนแก่นคือ {F_KK_age_avg} ปี','\n',f'ค่าเฉลี่ยอายุของผู้ชายของจังหวัดขอนแก่นคือ {M_KK_age_avg} ปี')

สรุป
 ค่าเฉลี่ยอายุของผู้หญิงของจังหวัดขอนแก่นคือ 41.57142857142857 ปี
 ค่าเฉลี่ยอายุของผู้ชายของจังหวัดขอนแก่นคือ 26.571428571428573 ปี

In [34]:
M_KK_age.mean() #เชค

26.571428571428573

In [35]:
F_KK_age.mean() #เชค

41.57142857142857

**3. หาจำนวนผู้ป่วยที่เป็นคน 'คนต่างชาติเดินทางมาจากต่างประเทศ'**

In [36]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0] #หาว่ากี่แถว

155

**เฉลย**

In [37]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [38]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [39]:
sum = 0
N = 0
for a in female['age']:
  if a > 0: #แก้ให้ไม่เจอmissing
    sum += a #บวกเพิ่มทีละ a
    N += 1
print(f'อายุผู้ป่วยหญิงเฉลี่ย ของทั้งหมด คือ {sum/N} ปี')

อายุผู้ป่วยหญิงเฉลี่ย ของทั้งหมด คือ 36.70788295640009 ปี

In [40]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']
female_KK['age']

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64

In [41]:
sum = 0
N = 0
for a in female_KK['age']:
  if a > 0: #แก้ให้ไม่เจอmissing
    sum += a #บวกเพิ่มทีละ a
    N += 1
print(f'อายุผู้ป่วยหญิงเฉลี่ย ของจังหวัดขอนแก่น คือ {sum/N} ปี')

อายุผู้ป่วยหญิงเฉลี่ย ของจังหวัดขอนแก่น คือ 41.57142857142857 ปี

**การจัดการ Missing Value**

- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean,default,category-unknown
- ใช้ค่าจาก column อื่น ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record ที่เป็น missing (dropna)

missing = ```None``` ```NA``` (not autorized) ```NaN```

In [42]:
this_data.shape

(12423, 3)

In [43]:
print(data_covid.shape)
print(data_covid.dropna().shape) #ตัดทุกค่ามิสในแต่ละคอลัมเลยไปเท่ากับคอลัมที่น้อยกว่า

(12423, 10)
(6430, 10)

In [44]:
this_data.dropna().shape

(8253, 3)

In [45]:
this_data.dropna()
print(this_data.shape) #เนื่องจากไม่ได้สร้างตัวแปรมาเก็บไม่มีอัตเดทตาราง

(12423, 3)

In [46]:
this_data.dropna(inplace=True) #อัตเดทค่าใตารางเลย
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### แทนที่ ค่า missing ด้วยค่าที่เหมาะสม (fillna)

In [47]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [48]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [49]:
#fillna จังหวัดใหม่ให้เลย เพราะไม่รู้เหตุผลที่ไม่ใส่จังหวัด
update_this = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1,'province_of_onset':'ไม่รู้'})
update_this.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [50]:
update_this[update_this['sex']=='ไม่รู้'].head()

         sex  age province_of_onset
4391  ไม่รู้ -1.0         สมุทรสาคร
4392  ไม่รู้ -1.0         สมุทรสาคร
4393  ไม่รู้ -1.0         สมุทรสาคร
4394  ไม่รู้ -1.0         สมุทรสาคร
4395  ไม่รู้ -1.0         สมุทรสาคร

In [51]:
data_covid[update_this['province_of_onset']=='ไม่รู้'].head() #จำนวนแถวเท่ากันเลยอัทเดตกันได้ แต่ถูกหรือไม่ก็ไม่รู้ จะถูกเมือลำดับเรคคอร์ดเป็นเรคคอร์ดเดียวกัน

     No.  ...                                         risk
414  415  ...                                      สนามมวย
529  530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555  556  ...                                      สนามมวย
576  577  ...                                      สนามมวย
588  589  ...                         อยู่ระหว่างการสอบสวน

[5 rows x 10 columns]

In [52]:
update_this_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [53]:
update_this_2[update_this['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12405  NaN  NaN            ไม่รู้
12406  NaN  NaN            ไม่รู้
12407  NaN  NaN            ไม่รู้
12408  NaN  NaN            ไม่รู้
12409  NaN  NaN            ไม่รู้

[2497 rows x 3 columns]

### การวนลูป record ในตาราง โดนใช้คำสั่งของแพนด้าเอง (iterrows) วิ่งทีละ record

In [54]:
for each_row in this_data.iterrows():
  #print(each_row)
  #print(each_row[1])
  if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset']=='ขอนแก่น'):
   print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตารางแพนด้า (pandas dataframe) เป็น numpy array (.iloc)

In [67]:
for each_row in range(this_data.shape[0]):
  if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] =='ขอนแก่น') : #ชี้ไปที่หลักที่ 1 age โดยที่เท่ากับ 20 #each_row เป็นตัวเลขใน range
   print(each_row) 
   print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

In [68]:
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

#Quiz ตัดตารางออกมาเฉพาะปี 2021  announce_date ในปี 2021



1.   วนลูป index ของปี 2021
2.   ตัดตารางมาเฉพาะปี 2021

In [89]:
for y in range(data_covid.shape[0]):
  if (data_covid.iloc[y,1] == 1/1/2021) and (data_covid.iloc[y,1] == 18/1/2021): 
    print(y)