<a href="https://colab.research.google.com/github/tonpiplaifa/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน `time_diff_nanos` ระหว่างช่วงเวลา 10.00-10.59 23.00-23.59 ว่าช่วงไหนมี `time_diff_nanos` น้อยกว่ากัน

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DWDM_material'

In [5]:
import pandas
import os
search_click = os.path.join(path,'search_click.csv')

In [6]:
search_click_df = pandas.read_csv(search_click)
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [7]:
from datetime import datetime

In [8]:
search_click_df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in search_click_df.columns]
search_click_df

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

### เปรียบเทียบผลรวม `alpha` `beta` ของข้อมูล ก่อนและตั้งแต่ 2 มีนาคม

In [13]:
import pandas as pd

In [15]:
path = '/content/example_timestamp.csv'

In [17]:
example = pd.read_csv('/content/example_timestamp.csv')
example.head()

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20